<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components</key>
	<array>
		<dict>
            <key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
			<key>Color</key>
			<array>
				<real>0.20000000000000001</real>
				<real>0.5</real>
				<real>0.20000000000000001</real>
			</array>

			<key>Keywords</key>
			<array>
				<string>.Dd</string>
				<string>.Dd</string>
				<string>.Dt</string>
				<string>.Os</string>
				<string>.Sh</string>
				<string>.Nm</string>
				<string>.Nd</string>
				<string>.Li</string>
				<string>.Op</string>
				<string>.Pp</string>
				<string>.Ar</string>
				<string>.Ss</string>
				<string>.Bl</string>
				<string>.It</string>
				<string>.Dq</string>
				<string>Li</string>
				<string>Ns</string>
				<string>.Sq</string>
				<string>.El</string>
				<string>.Xr</string>
				<string>.Dl</string>
				<string>.Fl</string>
				<string>Fl</string>
				<string>.Pa</string>
				<string>.Ss</string>
				<string>Op</string>
				<string>Oo</string>
				<string>Oc</string>
				<string>Ar</string>
				<string>.An</string>
				<string>Aq</string>
			</array>
			<key>Name</key>
			<string>Identifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>\"</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
	</array>
</dict>
</plist>
