<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components</key>
	<array>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890.</string>
			<key>Color</key>
			<array>
				<real>0.20000000000000001</real>
				<real>0.5</real>
				<real>0.20000000000000001</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>.Dd</string>
				<string>.Dt</string>
				<string>.Os</string>
				<string>.Sh</string>
				<string>.Nm</string>
				<string>.Nd</string>
				<string>.Li</string>
				<string>.Op</string>
				<string>.Pp</string>
				<string>.Ar</string>
				<string>.Ss</string>
				<string>.Bl</string>
				<string>.It</string>
				<string>.Dq</string>
				<string>Li</string>
				<string>Ns</string>
				<string>.Sq</string>
				<string>.El</string>
				<string>.Xr</string>
				<string>.Dl</string>
				<string>.Fl</string>
				<string>Fl</string>
				<string>.Pa</string>
				<string>.Ss</string>
				<string>Op</string>
				<string>Oo</string>
				<string>Oc</string>
				<string>Ar</string>
				<string>.An</string>
				<string>Aq</string>
				<string>.Aq</string>
				<string>.TH</string>
				<string>.B</string>
				<string>.RI</string>
				<string>.TP</string>
				<string>.hw</string>
				<string>.I</string>
				<string>.nf</string>
				<string>.LP</string>
				<string>.PD</string>
				<string>.RS</string>
				<string>.RE</string>
				<string>.fi</string>
				<string>.if</string>
				<string>.Qq</string>
				<string>.D1</string>
				<string>.Ed</string>
				<string>.Bd</string>
				<string>.Sx</string>
				<string>.Qo</string>
				<string>.ft</string>
				<string>.Bk</string>
				<string>.Ek</string>
				<string>.BR</string>
				<string>.Sy</string>
				<string>.Em</string>
				<string>.St</string>
				<string>.BI</string>
				<string>.IR</string>
				<string>.Pq</string>
				<string>.Ns</string>
				<string>.Brq</string>
				<string>.Fn</string>
				<string>.Cm</string>
				<string>.Fx</string>
				<string>.Ao</string>
				<string>.IP</string>
				<string>.Ix</string>
				<string>.Sp</string>
				<string>.nh</string>
				<string>.ad</string>
				<string>.ie</string>
				<string>.de</string>
				<string>.ne</string>
				<string>.tr</string>
				<string>.ds</string>
				<string>.nh</string>
				<string>.Vb</string>
				<string>.Ve</string>
			</array>
			<key>Name</key>
			<string>Identifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890.</string>
			<key>Name</key>
			<string>UserIdentifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Start</key>
			<string>.\</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>\"</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
	</array>
	<key>FileNameSuffixes</key>
	<array>
		<string>m</string>
		<string>mm</string>
		<string>h</string>
	</array>
</dict>
</plist>
